{% extends 'service/base.html'%}
{% load mediapath %}
{% block content %}
<div class="table">
    <table>
        <tr>
            <td>
                Количество рассылок всего
            </td>
            <td>
                {{count_mailing}}
            </td>
        </tr>
        <tr>
            <td>
                Количество активных рассылок:
            </td>
            <td>
                {{active_mailing}}
            </td>
        </tr>
        <tr>
            <td>
                Количество уникальных клиентов для рассылок:
            </td>
            <td>
                {{unique_clients}}
            </td>

        </tr>
    </table>
</div>


{% for object in random_post %}
<div class="table">
     <div class="col-6">
    <table>
              <div class="card mb-4 box-shadow">
                <div class="card-body">
                    <img src="{{ object.image| my_teg }}" alt=" " />
                   <p class="card-text">{{ object.title |title }}</p>
                    <p class="card-text">{{ object.text   }}</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
    </div>
</div>
                    </div>

{% endfor %}
</div>
           </table>
{% endblock %}
